.cabecalho { 
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    border-bottom: 2px solid #FFD700;
    position: relative;
}

.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.menu-item {
    color: #fff;
    text-decoration: none;
    font-family: 'Julius Sans One' , sans-serif;
    padding: 0 20px;
    border-left: 1px solid #555;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    display: flex;
    align-items: center;
}

.menu-item:hover {
  color: #FFD700;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

#logo-do-site {
    width: 100px;
    height: 100px;
}

#logo-texto {
    font-family: 'Libre Barcode 39 Text', system-ui;
    font-size: 45px;
    color: #fff;    
}

.menu-item:first-child {
    border-left: none;
}

.item-ativo {
    border-bottom: 3px solid #FFD700;
    padding-bottom: 5px;
}


.link-perfil {
    justify-self: end; 
    display: flex;     
    align-items: center;
    text-decoration: none;
}

#foto-perfil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}