.conteudo{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1B1F;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
  border: 2px solid yellow;
}

/* Esconde as imagens por padrão */
.mySlides {
  display: none;
}


/* Os pontinhos indicadores */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #717171;
}

/* Animação de esmaecimento (Fade) */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

footer{
  color: #fff;
  background-color: #474747;
  padding: 2rem;
  text-align: center;
  border-top: 1px solid #fefffa30;
  margin-top: 4rem;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/* Botões de avançar e voltar */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.3); /* Fundo sutil para visibilidade */
}

/* Posiciona o botão "next" à direita */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Efeito ao passar o mouse */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}